{{hello}}
<button ng-click="go('/debriefing/explanation')">>></button>
<form action="">
    <label class="statement">Did you consult the internet</label>
    <ul>
        <li>
            <input type="radio" name="question" value=true ng-model="internet">
            <label>Yes</label>
        </li>
        <li>
            <input type="radio" name="question" value=false ng-model="internet">
            <label>No</label>
        </li>
    </ul>
</form>

<form action="">
    <label class="statement">Did you recognize any of these excerpts</label>
    <ul>
        <li>
            <input type="radio" name="question" value=true ng-model="recognition">
            <label>Yes</label>
        </li>
        <li>
            <input type="radio" name="question" value=false ng-model="recognition">
            <label>No</label>
        </li>
    </ul>
</form>

<div>
    <p>Do you have any comments</p>
    <textarea ng-model="comment"></textarea>
</div>
