<ul class="trials">
        <div class="poem">
            <span class="text-poem" ng-bind-html="excerpt.label | trustHTML"></span>
            <span class="text-poem" ng-bind-html="excerpt.excerpt | trustHTML"></span>
        </div>
        <div>
            <p class="instructions">In the box below, write a brief analysis of this excerpt. You may dissect the author's intentions, create your own interpretation, and/or examine how the author employs literary techniques to create an effect.</p>
        <div>
        <div>
            <textarea class="analysis" ng-model="analysis1"></textarea>
        </div>

        <div class="wrap">
            <p>On a scale of 1-7 (<em>1 = very bad, 7 = very good</em>), how would you rate 
            the quality of this excerpt?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="quality" value="1" id="1a" ng-model="ratings1A">
                    <label for="1a">1<br/><br/>Very bad<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="quality" value="2" id="2a" ng-model="ratings1A">
                    <label for="2a">2<br/><br/>Bad<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="quality" value="3" id="3a" ng-model="ratings1A">
                    <label for="3a">3<br/><br/>Somewhat<br/>bad<br/>&nbsp;</label> 
                    <input type="radio" name="quality" value="4" id="4a" ng-model="ratings1A">
                    <label for="4a">4<br/><br/>Neither good<br/> nor bad</label> 
                    <input type="radio" name="quality" value="5" id="5a" ng-model="ratings1A">
                    <label for="5a">5 <br/><br/>Somewhat<br/>good<br/>&nbsp;</label> 
                    <input type="radio" name="quality" value="6" id="6a" ng-model="ratings1A">
                    <label for="6a">6<br/><br/>Good<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="quality" value="7" id="7a" ng-model="ratings1A">
                    <label for="7a">7<br/><br/>Very good<br/>&nbsp;<br/>&nbsp;</label> 
            </span>
            </form>
            
            <p>On a scale of 1-7 (<em>1 = dislike very much, 7 = like very much</em>), how much do you like 
                    this excerpt?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="like" value="1" id="1b" ng-model="ratings1B">
                    <label for="1b">1<br/><br/>Dislike<br/>very much</label> 
                    <input type="radio" name="like" value="2" id="2b" ng-model="ratings1B">
                    <label for="2b">2<br/><br/>Dislike<br/>&nbsp;</label>
                    <input type="radio" name="like" value="3" id="3b" ng-model="ratings1B">
                    <label for="3b">3<br/><br/>Somewhat<br/>dislike</label> 
                    <input type="radio" name="like" value="4" id="4b" ng-model="ratings1B">
                    <label for="4b">4<br/><br/>Neither like<br/> nor dislike</label> 
                    <input type="radio" name="like" value="5" id="5b" ng-model="ratings1B">
                    <label for="5b">5 <br/><br/>Somewhat<br/>like</label> 
                    <input type="radio" name="like" value="6" id="6b" ng-model="ratings1B">
                    <label for="6b">6<br/><br/>Like<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="7" id="7b" ng-model="ratings1B">
                    <label for="7b">7<br/><br/>Like<br/>very much</label> 
            </span>
            </form>

            <p>On a scale of 1-7 (<em>1 = very uncreative, 7 = very creative</em>), how creative do you think 
            this excerpt is?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="creative" value="1" id="1c" ng-model="ratings1C">
                    <label for="1c">1<br/><br/>Very<br/>uncreative<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="creative" value="2" id="2c" ng-model="ratings1C">
                    <label for="2c">2<br/><br/>Uncreative<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="creative" value="3" id="3c" ng-model="ratings1C">
                    <label for="3c">3<br/><br/>Somewhat<br/>uncreative<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="creative" value="4" id="4c" ng-model="ratings1C">
                    <label for="4c">4<br/><br/>Neither creative<br/> nor uncreative</label> 
                    <input type="radio" name="creative" value="5" id="5c" ng-model="ratings1C">
                    <label for="5c">5 <br/><br/>Somewhat<br/>creative<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="creative" value="6" id="6c" ng-model="ratings1C">
                    <label for="6c">6<br/><br/>Creative<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="creative" value="7" id="7c" ng-model="ratings1C">
                    <label for="7c">7<br/><br/>Very<br/>creative<br/>&nbsp;<br/>&nbsp;</label> 
            </span>
            </form>
            
            <p>On a scale of 1-7 (<em>1 = not moving at all, 7 = very moving</em>), how moving was  
            this excerpt?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="moving" value="1" id="1d" ng-model="ratings1D">
                    <label for="1d">1<br/><br/>Not moving<br/>at all</label> 
                    <input type="radio" name="moving" value="2" id="2d" ng-model="ratings1D">
                    <label for="2d">2<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="moving" value="3" id="3d" ng-model="ratings1D">
                    <label for="3d">3<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="moving" value="4" id="4d" ng-model="ratings1D">
                    <label for="4d">4<br/><br/>Somewhat moving<br/>&nbsp;</label> 
                    <input type="radio" name="moving" value="5" id="5d" ng-model="ratings1D">
                    <label for="5d">5 <br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="moving" value="6" id="6d" ng-model="ratings1D">
                    <label for="6d">6<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="moving" value="7" id="7d" ng-model="ratings1D">
                    <label for="7d">7<br/><br/>Not moving<br/>at all</label> 
            </span>
            </form>

            <p>On a scale of 1-7 (<em>1 = very poorly written, 7 = very well-written</em>), how well-written was  
                    is this excerpt?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="like" value="1" id="1e" ng-model="ratings1E">
                    <label for="1e">1<br/><br/>Very<br/>poorly written<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="2" id="2e" ng-model="ratings1E">
                    <label for="2e">2<br/><br/>Poorly written<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="like" value="3" id="3e" ng-model="ratings1E">
                    <label for="3e">3<br/><br/>Somewhat<br/>poorly written<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="4" id="4e" ng-model="ratings1E">
                    <label for="4e">4<br/><br/>Neither poorly written<br/> nor well-written</label> 
                    <input type="radio" name="like" value="5" id="5e" ng-model="ratings1E">
                    <label for="5e">5 <br/><br/>Somewhat<br/>well-writen<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="6" id="6e" ng-model="ratings1E">
                    <label for="6e">6<br/><br/>Well-written<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="7" id="7e" ng-model="ratings1E">
                    <label for="7e">7<br/><br/>Very<br/>well-written<br/>&nbsp;<br/>&nbsp;</label> 
            </span>
            </form>

            <p>On a scale of 1-7 (<em>1 = very shallow, 7 = very profound</em>), how profound 
                    is this excerpt?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="like" value="1" id="1f" ng-model="ratings1F">
                    <label for="1f">1<br/><br/>Very<br/>shallow<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="2" id="2f" ng-model="ratings1F">
                    <label for="2f">2<br/><br/>Shallow<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="like" value="3" id="3f" ng-model="ratings1F">
                    <label for="3f">3<br/><br/>Somewhat<br/>shallow<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="4" id="4f" ng-model="ratings1F">
                    <label for="4f">4<br/><br/>Neither shallow<br/> nor profound</label> 
                    <input type="radio" name="like" value="5" id="5f" ng-model="ratings1F">
                    <label for="5f">5 <br/><br/>Somewhat<br/>profound<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="6" id="6f" ng-model="ratings1F">
                    <label for="6f">6<br/><br/>Profound<br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="7" id="7f" ng-model="ratings1F">
                    <label for="7f">7<br/><br/>Very<br/>profound<br/>&nbsp;<br/>&nbsp;</label> 
            </span>
            </form>

            <p>On a scale of 1-7 (<em>1 = not at all recommend, 7 = very much recommend</em>), how much would you 
            <br/>recommend the author of this excerpt to a friend?</p>
            <form action="">
            <span class="segmented">
                    <input type="radio" name="like" value="1" id="1g" ng-model="ratings1G">
                    <label for="1g">1<br/><br/>Not at<br/>all recommend</label> 
                    <input type="radio" name="like" value="2" id="2g" ng-model="ratings1G">
                    <label for="2g">2<br/><br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label>
                    <input type="radio" name="like" value="3" id="3g" ng-model="ratings1G">
                    <label for="3g">3<br/><br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="4" id="4g" ng-model="ratings1G">
                    <label for="4g">4<br/><br/>Somewhat recommend<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="5" id="5g" ng-model="ratings1G">
                    <label for="5g">5 <br/><br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="6" id="6g" ng-model="ratings1G">
                    <label for="6g">6<br/><br/>&nbsp;<br/>&nbsp;<br/>&nbsp;</label> 
                    <input type="radio" name="like" value="7" id="7g" ng-model="ratings1G">
                    <label for="7g">7<br/><br/>Very much<br/>recommend<br/>&nbsp;</label> 
            </span>
            </form>
        </div> <!--wrap-->
