/*==============OVERALL=============*/
.col-md-6 {
    padding-top: 2%;
}


/*==============FONTS=============*/

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 90%;
    margin-bottom: 20px;
    color: #303030;
}

p {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 180%;
    margin-bottom: 20px;
    color: #404040;
}

/*==============INTRO=============*/
.intro {
    padding-top: 10%;
}

.intro h1 {
    padding-left: 400px;
}

#intro-info {
    padding-left: 415px;
}

#intro-info p {
    line-height: 160%;
    font-size: 20px;
}

.form-text{
    border: none;
    height: 40px;
    background-color: #DEDEDE;
    padding-left: 15px;
    color: #808080;
    margin-top: -2px;
    vertical-align: middle;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #808080;
    padding-left: 10px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #808080;
    opacity:  1;
    padding-left: 10px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #808080;
    opacity:  1;
    padding-left: 10px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #808080;
    padding-left: 10px;
}

.button-next {
    border: none;
    width: 60px;
    height: 40px;
    background-color: #E34646;
    color: white;
    vertical-align: middle;
    margin-top: -3px;
}

.button-next:hover {
    background-color: #808080;
}

textarea:focus, input:focus {
    outline: none;
}

/*==============CONSENT FORM=============*/

.consent {
    padding: 60px 0;
    padding-left: 25%;
    width: 700px;
}

.submit {
    border: none;
    width: 160px;
    height: 40px;
    background-color: #E34646;
    color: white;
}

.submit:hover {
    background-color: #808080;
}

/*==============STUDIES=============*/
.study {
    padding: 60px 0;
    width: 1000px;
    margin-left: -80px;
    padding-left: 20%;
}

.study p {
    line-height: 140%;
}

.instructions {
    width: 650px;
}

.poem {
    padding-bottom:20px;
}

.text-poem {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}

.analysis {
    width: 650px;
    height: 300px;
    padding: 10px;
    resize: none;
    padding-bottom: 30px;
}

.wrap {
    padding-top: 30px;
}

.wrap p {
    padding-top: 20px;
}

.segmented {
    padding-bottom: 30px;
}

.segmented input[type=radio] {
    display: none;
}

.segmented label {
    background: #d6d6d6;
    height: 105px;
    width: 70px;
    text-align: center;
    padding: 15px 15px;
    line-height: 120%;
    color: #606060;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
}

.segmented label:hover {
    background: #c9c9c9;
}
.segmented input:checked + label {
    background: #E34646;
    color: white;
}

.study .button-next {
    width: 150px;
}

#study-button {
    padding-left: 76%;
    padding-top: 20px;
}














